.clients-section {
  text-align: center;
  padding: 40px 40px;
  background: #fff;
}

.clients h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.clients p {
  font-size: 16px;
  color: #616161;
  margin: 10px 0 30px;
}

.client-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 40px;
}

.client-logos img {
  height: 40px;
  opacity: 0.8;
  transition: 0.3s;
}

.client-logos img:hover {
  opacity: 1;
  background: #ececec;
}

/* Community section */
.community-section h2 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.community-section p {
  font-size: 15px;
  color: #666;
  margin: 20px 0 20px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card .icon {
  background: #e8f5e9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
